<html> 

<head>


<style type="text/css">
h1{

text-align:center;
}
table{
text-align:center;
width:50% !important;
margin-left:25%!important;
}
</style>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="/form_newUser">Alta usuario</a></li>
  <li class="active"><a href="/form_viewUser">Ver usuarios</a></li>
</ol>

 <h1>Shared Server RestFull Api</h1>
<hr>
<table class="table table-striped">
<tr>
	<td>Padron</td>
	<td>Nombre</td>	
</tr>
<tr>
	<td>90280</td>
	<td>FEDERICO, PABLO</td>	
</tr> 
<tr>
	<td>90177</td>
	<td>FARINA, FEDERICO</td>	
</tr> 
<tr>
	<td>89172</td>
	<td>VAZQUEZ, NICOLAS</td>	
</tr> 
<tr>
	<td>87602</td>
	<td>DAYE, GISELA</td>	
</tr>  

</table>
</body>
</html>
